---
http_interactions:
- request:
    method: get
    uri: https://api-demo.helloextend.com/offers/list?storeId=6da4000d-2a35-4217-980a-cfb08ed3757f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Extend-Access-Token:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9cdc2f1a-76ed-4fc2-b44d-2f1e3305f7a6
      X-Amz-Apigw-Id:
      - LwNVfEOBIAMFcXw=
    body:
      encoding: UTF-8
      string: '[{"id":"10001-auto-part-base-replace-1y","prices":{"max":1099,"min":549,"points":[549,1099]},"details":{"imageUrl":"https://sdk.helloextend.com/extend_icon.png","title":"Extend
        Protection Plan - Auto Part","termLength":12}},{"id":"10001-auto-part-base-replace-2y","prices":{"max":1399,"min":699,"points":[699,1399]},"details":{"imageUrl":"https://sdk.helloextend.com/extend_icon.png","title":"Extend
        Protection Plan - Auto Part","termLength":24}},{"id":"10001-auto-part-base-replace-3y","prices":{"max":1799,"min":899,"points":[899,1799]},"details":{"imageUrl":"https://sdk.helloextend.com/extend_icon.png","title":"Extend
        Protection Plan - Auto Part","termLength":36}},{"id":"10001-computer-adh-repair-[...]
