---
http_interactions:
- request:
    method: put
    uri: https://api-demo.helloextend.com/stores/6da4000d-2a35-4217-980a-cfb08ed3757f/products/2324f800-7575-4c65-bd2c-22
    body:
      encoding: UTF-8
      string: '{"price":3599}'
    headers:
      Content-Type:
      - application/json
      X-Extend-Access-Token:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b5f3a84f-8026-48b0-9d00-cdc51336e164
      X-Amz-Apigw-Id:
      - LwQd4EspoAMFS-Q=
    body:
      encoding: UTF-8
      string: '{"deletedAt":1586212034581,"createdAt":1586211974778,"storeId":"6da4000d-2a35-4217-980a-cfb08ed3757f","enabled":false,"approved":false,"updatedAt":1588171865325,"identifiers":{},"mfrWarranty":{},"warrantyStatus":"pending","price":3599,"referenceId":"2324f800-7575-4c65-bd2c-22","title":"Explosive
        Baseballs","plans":[]}'
  recorded_at: Wed, 29 Apr 2020 14:51:05 GMT
recorded_with: VCR 5.1.0
