---
http_interactions:
- request:
    method: get
    uri: https://api-demo.helloextend.com/stores/6da4000d-2a35-4217-980a-cfb08ed3757f/contracts/fc893e2f-a368-46b6-b5b0-9525bf666b30/invoice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Extend-Access-Token:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b39d1895-cb29-49b4-8883-b4c5ecd29c3b
      X-Amz-Apigw-Id:
      - LwSc6EAVoAMFhWA=
    body:
      encoding: UTF-8
      string: '{"totalAmountDue":{"currencyCode":"USD","value":2699},"payer":{"name":"Modded
        Euros"},"payee":{"name":"Extend, Inc.","email":"billing@helloextend.com","address":{"country":"USA","province":"CA","city":"San
        Francisco","address1":"535 Mission St., 11th Floor","postalCode":"94526"}},"details":{"storeId":"6da4000d-2a35-4217-980a-cfb08ed3757f","invoiceDate":"2020-04-29T15:02:02.969Z"},"id":"fc893e2f-a368-46b6-b5b0-9525bf666b30","items":[{"unitPrice":{"currencyCode":"USD","value":2699},"metadata":{"planId":"10001-auto-part-base-replace-1y","product":{"name":"Explosive
        Baseballs","referenceId":"2324f800-7575-4c65-bd2c-22","price":{"currencyCode":"USD","value":3599}}},"quantity":1,"lineTotal":{"currencyCode":"USD","value":2699},"discount":{"percent":25,"amount":{"currencyCode":"USD","value":900},"label":"Merchant
        revenue share"},"title":"10001-auto-part-base-replace-1y","transactionDate":"2020-04-29T14:55:23.000Z","retailPrice":{"currencyCode":"USD","value":3599}}]}'
  recorded_at: Wed, 29 Apr 2020 15:04:38 GMT
recorded_with: VCR 5.1.0
