---
http_interactions:
- request:
    method: get
    uri: https://api-demo.helloextend.com/stores/6da4000d-2a35-4217-980a-cfb08ed3757f/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Extend-Access-Token:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f68312ee-c029-4958-b922-bfd6c492de47
      X-Amz-Apigw-Id:
      - KlEpKGmJoAMFVPg=
    body:
      encoding: UTF-8
      string: '[{"enabled":false,"approved":false,"updatedAt":1586197186976,"createdAt":1586197186976,"warrantyStatus":"pending","storeId":"6da4000d-2a35-4217-980a-cfb08ed3757f","price":2599,"title":"Explosive
        Tennis Balls","referenceId":"2324f800-7575-4c65-bd2c-588c89e8ab7f","plans":[]}]'
  recorded_at: Mon, 06 Apr 2020 19:22:22 GMT
recorded_with: VCR 5.1.0
