---
http_interactions:
- request:
    method: get
    uri: https://api-demo.helloextend.com/stores/6da4000d-2a35-4217-980a-cfb08ed3757f/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Extend-Access-Token:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 00f7eb96-13db-404f-84b2-d817bb8ded55
      X-Amz-Apigw-Id:
      - KlfkpEVfIAMFtzQ=
    body:
      encoding: UTF-8
      string: '[{"enabled":false,"approved":false,"updatedAt":1586211855273,"createdAt":1586211855273,"warrantyStatus":"pending","storeId":"6da4000d-2a35-4217-980a-cfb08ed3757f","price":2599,"title":"Explosive
        Basketballs","referenceId":"2324f800-7575-4c65-bd2c-2","plans":[]},{"createdAt":1586197186976,"storeId":"6da4000d-2a35-4217-980a-cfb08ed3757f","enabled":true,"approved":true,"overrides":{"mfrWarranty":{}},"updatedAt":1586202373579,"identifiers":{},"plans":["10001-misc-elec-base-replace-1y","10001-misc-elec-base-replace-2y","10001-misc-elec-base-replace-3y"],"mfrWarranty":{},"warrantyStatus":"pending","price":2599,"referenceId":"2324f800-7575-4c65-bd2c-588c89e8ab7f","title":"Explosive
        Tennis Balls"}]'
  recorded_at: Mon, 06 Apr 2020 22:26:13 GMT
recorded_with: VCR 5.1.0
