---
http_interactions:
- request:
    method: get
    uri: https://api-demo.helloextend.com/offers?productId=2324f800-7575-4c65-bd2c-588c89e8ab7f&storeId=6da4000d-2a35-4217-980a-cfb08ed3757f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Extend-Access-Token:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - cda284d5-f167-465d-8ef8-1f9d21b3d400
      X-Amz-Apigw-Id:
      - LwNklHVYIAMFaoQ=
    body:
      encoding: UTF-8
      string: '{"product":{"name":"Explosive Tennis Balls"},"plans":[{"contract":{"coverageIncludes":"base","serviceType":"replace","replacementType":"new","termLength":12,"deductible":0,"category":"consumer_electronics","coverageStarts":"after"},"price":339,"title":"Extend
        Protection Plan - Electronics","id":"10001-misc-elec-base-replace-1y","imageUrl":"https://sdk.helloextend.com/extend_icon.png","url":"https://demo.customers.extend.com/plan_details/10001-misc-elec-base-replace-1y"},{"contract":{"coverageIncludes":"base","serviceType":"replace","replacementType":"new","termLength":24,"deductible":0,"category":"consumer_electronics","coverageStarts":"after"},"price":649,"title":"Extend
        Protection Plan - Electronics","id":"10001-misc-elec-base-replace-2y","imageUrl":"https://sdk.helloextend.com/extend_icon.png","url":"https://demo.customers.extend.com/plan_details/10001-misc-elec-base-replace-2y"},{"contract":{"coverageIncludes":"base","serviceType":"replace","replacementType":"new","termLength":36,"deductible":0,"category":"consumer_electronics","coverageStarts":"after"},"price":999,"title":"Extend
        Protection Plan - Electronics","id":"10001-misc-elec-base-replace-3y","imageUrl":"https://sdk.helloextend.com/extend_icon.png","url":"https://demo.customers.extend.com/plan_details/10001-misc-elec-base-replace-3y"}],"marketing":{"buttons":{"headline":"Add
        product protection offered by","headlineAdh":"Add accident protection offered
        by","subhead":"Add an extended warranty from","linkText":"Learn more"},"modal":{"headline":"Protection
        from defects and breakdowns","bullet1":"Hassle-free claims","bullet2":"24/7
        live support","bullet3":"Fast repair or replacement","bullet4":"Free shipping
        for repairs","linkText":"See plan details","buyText":"Add protection plan","declineText":"No,
        thanks"}}}'
  recorded_at: Wed, 29 Apr 2020 14:31:22 GMT
recorded_with: VCR 5.1.0
