---
http_interactions:
- request:
    method: post
    uri: https://api-demo.helloextend.com/stores/6da4000d-2a35-4217-980a-cfb08ed3757f/contracts/06d6e4ac-1878-4a71-8f0f-1f5e34efdd94/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Extend-Access-Token:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 213c4bb5-6c93-45ea-bb41-b0f245923f88
      X-Amz-Apigw-Id:
      - LwSxjGy4oAMFRXw=
    body:
      encoding: UTF-8
      string: '{"code":"other","message":"An internal server error occurred. Please
        try again.","type":"server_error"}'
  recorded_at: Wed, 29 Apr 2020 15:06:50 GMT
recorded_with: VCR 5.1.0
