---
http_interactions:
- request:
    method: post
    uri: https://api-demo.helloextend.com/stores/6da4000d-2a35-4217-980a-cfb08ed3757f/products
    body:
      encoding: UTF-8
      string: '{"price":2599,"title":"Explosive Baseballs","referenceId":"2324f800-7575-4c65-bd2c-22"}'
    headers:
      Content-Type:
      - application/json
      X-Extend-Access-Token:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ed425321-db3a-489b-bdd9-98f2b39b02f7
      X-Amz-Apigw-Id:
      - KlflBFpYIAMFdhA=
    body:
      encoding: UTF-8
      string: '{"price":2599,"title":"Explosive Baseballs","referenceId":"2324f800-7575-4c65-bd2c-22","plans":[],"enabled":false,"approved":false,"warrantyStatus":"pending","storeId":"6da4000d-2a35-4217-980a-cfb08ed3757f","updatedAt":1586211974778,"createdAt":1586211974778}'
  recorded_at: Mon, 06 Apr 2020 22:26:15 GMT
recorded_with: VCR 5.1.0
