---
http_interactions:
- request:
    method: post
    uri: https://api-demo.helloextend.com/stores/6da4000d-2a35-4217-980a-cfb08ed3757f/contracts
    body:
      encoding: UTF-8
      string: '{"transactionId":"c57ed096-24ef-49a4-a20a-d1b8bf770980","transactionDate":1588172123,"currency":"USD","customer":{"email":"acreilly3@gmail.com","name":"Allison"},"product":{"referenceId":"2324f800-7575-4c65-bd2c-22","purchasePrice":3599},"plan":{"purchasePrice":3599,"planId":"10001-auto-part-base-replace-1y"}}'
    headers:
      Content-Type:
      - application/json
      X-Extend-Access-Token:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d545aa49-f6ce-4d7f-9c6e-e08d0d083e83
      X-Amz-Apigw-Id:
      - LwSDiFBNoAMFqlA=
    body:
      encoding: UTF-8
      string: '{"transactionId":"c57ed096-24ef-49a4-a20a-d1b8bf770980","transactionDate":1588172123,"currency":"USD","customer":{"email":"acreilly3@gmail.com","name":"Allison"},"product":{"referenceId":"2324f800-7575-4c65-bd2c-22","purchasePrice":3599},"plan":{"purchasePrice":3599,"planId":"10001-auto-part-base-replace-1y"},"id":"fc893e2f-a368-46b6-b5b0-9525bf666b30"}'
  recorded_at: Wed, 29 Apr 2020 15:02:00 GMT
recorded_with: VCR 5.1.0
